.home1{
  background: url(img/background.jpg);
  background-size: cover;
}

.home2{
  background-color: #b3d4fc;
  flex-direction: column;
}

.bio2 {
  box-sizing: border-box;
}

.img2{
  float: left;
  height: 665px;
  width: 740px;
}

.p1{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 30px;
  line-height: 1em;
  font-weight: 400;
  color: #121212;
  margin-left: 50%;
  padding: 5vh 3vw;
}

.exp-sec{
  margin-top: 4.7%;
}

.footer-exp{
  margin-top: 2.6%;
}

.p2{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  text-align: left;
  margin-right: 40%;
}

.container{
  margin-top: 10%;
}

.borderBio{
  border-radius: 10%;
}
